{% extends "base.html" %}
{% load static%}

{% block title%} Создать задачу {% endblock %}

{% block main_content %}
        <h1>Создать форму</h1>
        <form action="." method="post" class="row g-3 add-task">
            {% csrf_token %}
            <div class="col-auto myclass">
                {{ form }}
            </div>
            <div class="col-auto">
                <button class="add btn btn-primary mb-3" type="submit">Добавить</button>
            </div>
        </form>
{% endblock %}